body{
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
  
}

@keyframes ldio-ve6vt5l70h {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(22.5deg) }
  100% { transform: rotate(45deg) }
}
.ldio-ve6vt5l70h > div {
  transform-origin: 100px 100px;
  animation: ldio-ve6vt5l70h 0.2s infinite linear;
}
.ldio-ve6vt5l70h > div div {
    position: absolute;
    width: 22px;
    height: 152px;
    background: #93dbe9;
    left: 100px;
    top: 100px;
    transform: translate(-50%,-50%);
}
.ldio-ve6vt5l70h > div div:nth-child(1) {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.ldio-ve6vt5l70h > div div:nth-child(6) {
    margin: auto;
    width: 80px;
    height: 80px;
    background: #f1f2f3;
    border-radius: 50%;
}.ldio-ve6vt5l70h > div div:nth-child(3) {
  transform: translate(-50%,-50%) rotate(45deg)
}.ldio-ve6vt5l70h > div div:nth-child(4) {
  transform: translate(-50%,-50%) rotate(90deg)
}.ldio-ve6vt5l70h > div div:nth-child(5) {
  transform: translate(-50%,-50%) rotate(135deg)
}
.loadingio-spinner-gear-r1mr796vgm {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-ve6vt5l70h {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ve6vt5l70h div { box-sizing: content-box; }

.navbar.navbar-lg-expand{
  background: rgba( 255, 255, 255, 0.30 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.0px );
  -webkit-backdrop-filter: blur( 6.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-body{
  background: rgba( 255, 255, 255, 0.00 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}